<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "mainEntity": {
    "@type": "Person",
    "@id": "https://spenafernandez.github.io/#person",
    "name": "Simón Peña-Fernández",
    "givenName": "Simón",
    "familyName": "Peña-Fernández",
    "jobTitle": "Full Professor of Journalism",
    "url": "https://spenafernandez.github.io/",

    "identifier": [
      {
        "@type": "PropertyValue",
        "propertyID": "ORCID",
        "value": "0000-0003-2080-3241"
      },
      {
        "@type": "PropertyValue",
        "propertyID": "Scopus Author ID",
        "value": "55580980400"
      },
      {
        "@type": "PropertyValue",
        "propertyID": "Web of Science ResearcherID",
        "value": "C-4850-2013"
      }
    ],

    "affiliation": {
      "@type": "CollegeOrUniversity",
      "name": "University of the Basque Country (UPV/EHU)",
      "alternateName": "Universidad del País Vasco / Euskal Herriko Unibertsitatea",
      "url": "https://www.ehu.eus/"
    },

    "worksFor": {
      "@type": "CollegeOrUniversity",
      "name": "University of the Basque Country (UPV/EHU)",
      "url": "https://www.ehu.eus/"
    },

    "memberOf": {
      "@type": "ResearchOrganization",
      "name": "Gureiker Research Group",
      "url": "https://www.gureiker.info/"
    },

    "sameAs": [
      "https://www.ehu.eus/es/web/departamento-periodismo/simon-pena-fernandez",
      "https://orcid.org/0000-0003-2080-3241",
      "https://scholar.google.com/citations?user=xYKry48AAAAJ",
      "https://www.scopus.com/authid/detail.uri?authorId=55580980400",
      "https://www.webofscience.com/wos/author/record/C-4850-2013",
      "https://ekoizpen-zientifikoa.ehu.eus/investigadores/127485/detalle?lang=en",
      "https://research.science.eus/investigadores/255680/detalle",
      "https://www.researchgate.net/profile/Simon-Pena-Fernandez",
      "https://github.com/spenafernandez",
      "https://viaf.org/viaf/308703045",
      "https://isni.org/isni/0000000434287409",
      "https://id.loc.gov/authorities/names/n2019002507",
      "https://datos.bne.es/persona/XX5272405",
      "https://www.idref.fr/227529413"
    ],

    "knowsAbout": [
      "Artificial Intelligence",
      "Artificial Intelligence in Journalism",
      "Generative Artificial Intelligence",
      "Journalism",
      "Digital Journalism",
      "Digital Media",
      "Disinformation",
      "Algorithmic Polarisation",
      "Social Media",
      "Hate Speech",
      "Media Audiences",
      "Political Communication"
    ]
  }
}
</script>
